@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rosario:wght@700&family=Rubik:wght@700&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F5F5F5;
    width: 100%;
    height: 100vh;
}

.row .left{
    background-color: #F9F9F9 !important;
    height: 100vh;
    padding-top: 52px;
    padding-left: 42px;
}

.row .right{
    height: 100vh;
    padding-left: 15%;
    padding-top: 10%;
}

.row ul li{
    margin-bottom: 25px;
}

.row .left .text{
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 22px !important;
    text-align: center;
    margin-left: 20px;
}

.row a{
    color: #6B6B6B !important;
}

.row a:hover{
    color: #3D73DD !important;
}

.row .right .text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.row .right .circle-border{
    width: 149px;
    height: 149px;
    background-color: #D6D6D6;
    border-radius: 50%;
    position: relative;
    margin-bottom: 63px;
}

.right .circle-border img{
    position: absolute;
    top: 46px;
    left: 41px;

}

.right input{
    width: 296px;
    height: 43px;
    border: 1px solid rgba(171, 171, 171, 0.49);
    border-radius: 4px;
    padding-left: 17px;
    margin-top: 17px;
}

.right button{
    width: 120px;
    height: 39px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #3D73DD;
    border-radius: 8px;
    margin-top: 10px;
}

.right .btn-primary{
    background-color: #3D73DD;
    color: #FFFFFF;
}

.right .btn-secondary{
    color: #3D73DD;
    background-color: #ffffff;
    margin-left: 10px;
}

li{
    list-style: none;
}