@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@700&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
}

.row .left{
    background-color: #F9F9F9 !important;
    height: 100vh;
    padding-top: 52px;
    padding-left: 42px;
}

.row .right{
    height: 100vh;
}

.row ul li{
    margin-bottom: 25px;
}

.row .left .text{
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 22px !important;
    text-align: center;
    margin-left: 20px;
}

.row a{
    color: #6B6B6B;
}

.row a:hover{
    color: #3D73DD !important;
}

.right h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #3D73DD;
}

.right .subheading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #414141;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right .card{
    font-family: 'Roboto';
    font-weight: 400;
    width: 100%;
}

.right .card-subtitle{
    padding-left: 19px;
    padding-top: 9px;
    font-style: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.right .card-body{
    padding-bottom: 19px;
    padding-left: 19px;
    padding-top: 9px;
    font-style: bold;
    font-size: 16px;
    line-height: 20px;
    color: #787878;
    margin-bottom: 0px;
}

.task{
    margin-top: 30px;
    display: flex;
}

.task img{
    float: left;
}

.task .card{
    float: right;
    margin-left: 13px;
}

.task .addTask .text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.task .adding{
    margin-left: 39px !important;
}

.card .modification{
    position: absolute;
    align-self: flex-end;
    top: 15%;
    right: 2%;
}

.card .modification img{
    margin-right: 27px;
}

.card .delete{
    width: 176px;
    height: 59px;
    padding-left: 14px;
    padding-top: 21px;
    padding-bottom: 20px;
    background-color: #ffffff;
    align-self: flex-end;
    position: absolute;
    top: 50%;
    right: 32px;
}

li{
    list-style: none;
}